<ion-header no-border>
    <ion-navbar>
        <ion-title>{{cityName}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="slides-page" [ngStyle]="{'background-image': 'url('+ bgImage +')'}" *ngIf="weatherDetails">
    <ion-card class="current-temp">
        <ion-card-content class="cardContent">
            <ion-grid>
                <ion-row>
                    <ion-col width-50 offset-25>
                        <h2 class="temp">{{ weatherDetails.current.main.temp }}&deg;</h2>
                        <ion-avatar><img src="{{ weatherDetails.current.icon }}"></ion-avatar>
                        <h3 class="desc">{{ weatherDetails.current.weather[0].description }}</h3>
                    </ion-col>
                </ion-row>
                <ion-row class="row-content">
                    <ion-col col-4>{{ windDirection(weatherDetails.current.wind.deg) }}</ion-col>
                    <ion-col col-4>{{ weatherDetails.current.wind.speed }}M/S</ion-col>
                    <ion-col col-4>{{ weatherDetails.current.main.humidity }}%</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-ion">
        <ion-card-content>
            <ion-card-header>Details</ion-card-header>
            <ion-grid class="card-list">
                <ion-row class="rowDetail">
                    <ion-col col-6 class="itemName">
                        <ion-icon name="cloud"></ion-icon>
                        Pressure
                    </ion-col>
                    <ion-col col-6 class="col_ion">{{ weatherDetails.current.main.pressure}}HPa</ion-col>
                </ion-row>
                <ion-row class="rowDetail">
                    <ion-col col-6 class="itemName">
                        <ion-icon name="umbrella"></ion-icon>
                        Humidity
                    </ion-col>
                    <ion-col col-6 class="col_ion">{{ weatherDetails.current.main.humidity }}%</ion-col>
                </ion-row>
                <ion-row class="rowDetail">
                    <ion-col col-6 class="itemName">
                        <ion-icon name="eye"></ion-icon>
                        Visibility
                    </ion-col>
                    <ion-col col-6 class="col_ion">{{ weatherDetails.current.visibility }}</ion-col>
                </ion-row>
                <ion-row class="rowDetail">
                    <ion-col col-6 class="itemName">
                        <ion-icon name="ios-globe"></ion-icon>
                        Longitude
                    </ion-col>
                    <ion-col col-6 class="col_ion">{{ weatherDetails.current.coord.lon }}</ion-col>
                </ion-row>
                <ion-row class="rowDetail">
                    <ion-col col-6 class="itemName">
                        <ion-icon name="ios-globe"></ion-icon>
                        Latitude
                    </ion-col>
                    <ion-col col-6 class="col_ion">{{ weatherDetails.current.coord.lat }}</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-ion">
        <ion-card-content>
            <ion-card-header>Wind</ion-card-header>
            <ion-grid class="card-list">
                <ion-row class="rowDetail">
                    <ion-col col-6 class="itemName">
                        <ion-icon name="compass"></ion-icon>
                        Direction
                    </ion-col>
                    <ion-col col-6 class="col_ion">{{ windDirection(weatherDetails.current.wind.deg) }}</ion-col>
                </ion-row>
                <ion-row class="rowDetail">
                    <ion-col col-6 class="itemName">
                        <ion-icon name="speedometer"></ion-icon>
                        Speed
                    </ion-col>
                    <ion-col col-6 class="col_ion">{{ weatherDetails.current.wind.speed}}M/S</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>