<ion-header>
    <ion-navbar>
        <ion-title>
            Contact
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>My Contact Details</ion-list-header>
        <ion-item>
            <ion-icon ios="ios-contact" md="md-contact" item-start></ion-icon>
            Dipak Mahapurkar
        </ion-item>
        <ion-item>
            <ion-icon ios="ios-code" md="md-code" item-start></ion-icon>
            Mobile Application Developer (Exp. 3+ Years)
        </ion-item>
        <ion-item>
            <ion-icon ios="ios-call" md="md-call" item-start></ion-icon>
            +91 8237515979
        </ion-item>

        <ion-item>
            <ion-icon ios="ios-mail" md="md-mail" item-start></ion-icon>
            dipakmahapurkar@gmail.com
        </ion-item>
        <ion-item>
            <ion-icon ios="logo-skype" md="logo-skype" item-start></ion-icon>
            live:dipakmahapurkar
        </ion-item>
    </ion-list>
</ion-content>