<ion-header>
    <ion-navbar>
        <ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()"></ion-searchbar>
    </ion-navbar>
    <ion-list>
        <ion-item *ngFor="let place of places" (click)="selectPlace(place)">{{place.description}}</ion-item>
    </ion-list>

</ion-header>

<ion-content>
    <div #map_canvas id="map_canvas">
        <ion-fab right bottom (click)="getCurrentLocationOfUser($event)">
            <button ion-fab color="primary">
                <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
            </button>
        </ion-fab>
    </div>
</ion-content>